<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756112389534-mi25jq9q65a63sshe0irblvk04sd267b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756112389534-mi25jq9q65a63sshe0irblvk04sd267b</string>
	<key>API_KEY</key>
	<string>AIzaSyA8heTNIXac74s6LTVHSLtKvNIqyTGBIDc</string>
	<key>GCM_SENDER_ID</key>
	<string>756112389534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stanislavBezsonov.BudgetApp</string>
	<key>PROJECT_ID</key>
	<string>personal-finance-38f43</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-finance-38f43.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756112389534:ios:bf4503365b42e9b986d28f</string>
</dict>
</plist>